sourceengine/
platform/
bin/
*.mdmp
garrysmod/maps/
garrysmod/data/ulx_logs/
garrysmod/downloadlists/
garrysmod/cfg/
garrysmod/download/
*.ztmp
garrysmod/lua/includes/nth/config_sh.lua
garrysmod/lua/includes/nth/config_sv.lua
garrysmod/sv.db
garrysmod/data/
*.vpk
garrysmod/downloads/
srcds.exe
